<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/design.css' %}">

    <title>RAD</title>
  </head>
  <body class="mt-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'index:index' %}">About</a>
          <a class="nav-item nav-link active" href="{% url 'index:experience' %}">Experience</a>
          <a class="nav-item nav-link active" href="{% url 'index:education' %}">Education</a>
          <a class="nav-item nav-link active" href="{% url 'index:skills' %}">Skills</a>
          <a class="nav-item nav-link active" href="{% url 'index:contact' %}">Contact</a>
          <a class="nav-item nav-link active" href="{% url 'index:portofolio' %}">Portofolio</a>
        </div>
      </div>
      </div>
    </nav>

<section id="skills" class="genap">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <h2>Skills</h2>
      </div>
    </div>

    <div class="row row-skills">
      <div class="col-md-2 text-center">
        <h5>Python</h5>
      </div>

      <div class="col text-center">
        <div class="progress">
          <div class="progress-bar" style="width:85%"></div>
        </div>
      </div>
    </div>

    <div class="row row-skills">
      <div class="col-md-2 text-center">
        <h5>Leadership</h5>
      </div>

      <div class="col text-center">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
    </div>

    <div class="row row-skills">
      <div class="col-md-2 text-center">
        <h5>Java</h5>
      </div>

      <div class="col text-center">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
    </div>

    <div class="row row-skills">
      <div class="col-md-2 text-center">
        <h5>Microsoft Office</h5>
      </div>

      <div class="col text-center">
        <div class="progress">
          <div class="progress-bar" style="width:87%"></div>
        </div>
      </div>
    </div>

    <div class="row row-skills">
      <div class="col-md-2 text-center">
        <h5>FIFA</h5>
      </div>

      <div class="col text-center">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
    </div>

    <div class="row row-skills">
      <div class="col-md-2 text-center">
        <h5>Vegas Pro</h5>
      </div>

      <div class="col text-center">
        <div class="progress">
          <div class="progress-bar" style="width:85%"></div>
        </div>
      </div>
    </div>   
  </div>
</section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>